@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Zeus Employee Management System</h1>
    <p class="lead">Presenting The Zeus System. Manage all of your employees at one stop. The lightning fast speed to complete all the tasks with the power of The Lightning God Zeus. </p>
    <p><a href="http://localhost:53152/Home/About" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Store all of your Employee Data</h2>
        <p>
            Zeus allows you to store the data of all of your employees at one place with high security and easy to manage system.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Maintain the Pay information</h2>
        <p>
            Easily manage the Pay information and provide pay stubs to your employees.
        </p>
    </div>
    <div class="col-md-4">
        <h2>User Friendly</h2>
        <p>
            Zeus let's you update, delete and add information in the most simple and user friendly way possible.
        </p>
    </div>
</div>