@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Zeus Employee Management System</h1>
    <p class="lead">Presenting The Zeus System. Manage all of your employees at one stop. The lightning fast speed to complete all the tasks with the power of The Lightning God Zeus. </p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

